body {
  display: inline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:rgb(161, 222, 169);
  padding: 0px;
  margin: 0px;
  width: 100%;
  align-items: normal;
}

h1 {
  display: inline;
  justify-self: center;
  font-size: 30px;

  background-color: darkcyan;
  text-decoration: none;
  display: block;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;

}

h2 {
  justify-self: center;

}

h3 {
  justify-self: auto;

}


a {
  text-decoration: none;
  color: black;

}

body {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "subt subt"
    "adi nik"
    "pum umb"
}

img {
  width: 7cm;
  justify-self: center;
  margin-bottom: 20px;
}

h1 {
  grid-area: titulo;
}

h2 {
  grid-area: subt;
}

  
  
@media screen and (max-width: 500px) {
  body {
    display: grid;
    grid-template-areas:
      "titulo "
      "subt "
      "adi "
      "nik "
      "pum "
      "umb "
  }
}

img {
  justify-content: center;

}

h3 {
  justify-self: center;
}
p{
  align-self: center;
  margin-left: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

textarea{
 margin-left: 10%;
}

input{
  margin-left: 50%;
}