body {
  display: inline-flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color:rgb(161, 222, 169);
  padding: 0px;
  margin: 0px;
  width: 100%;
  align-items: normal;
}

section h1 {
  display: inline;
  font-size: 30px;
  width: 40%;
}

article {
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  border-right: solid white;
  border-top: solid white;
  height: 100%;
}

img {
  width: 200px;
  margin: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
}

h1 {
  background-color: darkcyan;
}

h4 {
  text-align: center;
  align-self: center;
}
div{
  align-self: center;
  text-align: center;
}
.MenuDeCostado {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: flex;
  flex-direction: column;
}

body {
  display: grid;
  grid-template-areas: "navega foto1 desc1" "navega foto2 desc2" "navega foto3 desc3" "navega foto4 desc4";
  grid-template-rows: auto;
}

h1 {
  grid-area: titulo;
}

section {
  grid-area: navega;
}

.fotoN1 {
  grid-area: foto1;
}

.fotoN2 {
  grid-area: foto2;
}

.fotoN3 {
  grid-area: foto3;
}

.fotoN4 {
  grid-area: foto4;
}

.DesBotinAdi {
  grid-area: desc1;
}

.DesBotNik {
  grid-area: desc2;
}
.DesbotUmb {
  grid-area: desc3;
}
.DesBotPum {
  grid-area: desc4;
}
@media (min-width:566px) and (max-width: 768px) {
  body{
    display:grid;
    grid-template-areas: "titulo titulo" "navega navega" "foto1 desc1" "foto2 desc2" "foto3 desc3" "foto4 desc4";
  }

}
@media screen and (max-width: 566px) {
  body {
    display: grid;
    grid-template-areas: "titulo " "navega "  "foto1 " "desc1" "foto2 " "desc2" "foto3" "desc3" "foto4" "desc4";
  }
  img{
   padding-left: 13%;
  }

  h1 {
    grid-area: titulo;
  }

  article {
    grid-area: navega;
  }

  .fotoN1 {
    grid-area: foto1;
  }

  .fotoN2 {
    grid-area: foto3;
  }

  .fotoN3 {
    grid-area: foto2;
  }

  .fotoN4 {
    grid-area: foto4;
  }

  img {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
  }

  .fotoN1 {
    margin-top: 60px;
  }

  nav {
    text-align: center;
  }
}